<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartcalsvendingmachine" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.smartcalsvendingmachine.permission.ACCESS_VENDING_MACHINE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".VendingMachineUI.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerOptions"
            android:label="@string/title_activity_customer_start" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerItemType"
            android:label="@string/title_activity_customer_item_type" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerItemList"
            android:label="@string/title_activity_customer_item_list" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.ItemDetail"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.EmployeeOptions"
            android:label="@string/title_activity_employee_options" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.RegisterAddress"
            android:label="@string/title_activity_employee_register" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.EmployeeRefill"
            android:label="@string/title_activity_employee_refill" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.RegisterItems"
            android:label="@string/title_activity_register_items" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.RegisterItemNumbers"
            android:label="@string/title_activity_register_item_numbers" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerCard"
            android:label="@string/title_activity_customer_card" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerSearch"
            android:label="@string/title_activity_customer_suggestion" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.ManageItems"
            android:label="@string/title_activity_manage_items" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.AddItems"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.DeleteItem"
            android:label="@string/title_activity_delete_item" >
        </activity>
        <activity
            android:name=".VendingMachineUI.EmployeeUI.AddItemNumbers"
            android:label="@string/title_activity_add_item_numbers" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.BuyWithCoins"
            android:label="@string/title_activity_buy_with_coins" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.BuyWithCard"
            android:label="@string/title_activity_buy_with_card" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerBuyCard"
            android:label="@string/title_activity_customer_buy_card" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerCheckBalance"
            android:label="@string/title_activity_customer_check_balance" >
        </activity>
        <activity
            android:name=".VendingMachineUI.CustomerUI.CustomerSearchResult"
            android:label="@string/title_activity_customer_search_result" >
        </activity>

        <service
            android:name=".VendingMachineUI.MachineUI.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".VendingMachineUI.MachineUI.AlarmNotificationReceiver" />

        <provider
            android:name=".SQLiteDatabase.VendingMachineContentProvider"
            android:authorities="com.smartcalsvendingmachine.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.smartcalsvendingmachine.permission.ACCESS_VENDING_MACHINE" >
        </provider>

    </application>

</manifest>
